@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body{
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    position: fixed;
    top: 25%;
    width:100%;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#313131;
    font-size:45px;
    font-weight: 100;
    -webkit-animation:colorchange 20s infinite alternate; 
  }

  @-webkit-keyframes colorchange {
    0% {  
      color: #f7caca;
    }

    10% {    
      color: #e28691;
    }
    
    20% {
      color: #ff6f61;
    }
    
    30% {
      color: #da3f1f;
    }

    40% {  
      color: #ca1d20;
    }
    
    50% {
      color: #c92e85;
    }
    
    60% {
      color: #d93d86;
    }
    
    70% {
      color: #ad7fb0;
    }

    80% {
      color: #7f4a90;
    }
    
    90% {
      color: #5e2874;
    }
    
    100% {
      color: #28274B;
    }
  }